html#a {
    padding-top: 2%;
    padding-left: 10%;
    padding-right: 10%;
}
body#a {
    background-image: url("https://source.unsplash.com/2000x2000/?abstract,dark");
}
div#a {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}
