body#a {
    background-image: url('http://source.unsplash.com/2000x2000/?abstract,dark');
    animation: moveBackround 10s linear infinite;
}

@keyframes moveBackround {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}