body#a {
    animation: moveBackround 10s linear infinite;
}

@keyframes moveBackround {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
